<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.FirstName}}" placeholder="First Name" name="FirstName">
        <label for="floatingInput">First Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.LastName}}" placeholder="Last Name" name="LastName">
        <label for="floatingInput">Last Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Username}}" placeholder="Username" name="Username">
        <label for="floatingInput">Username</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Password" name="Password">
        <label for="floatingInput">Password</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.Email}}" placeholder="Email" name="Email">
        <label for="floatingInput">Email</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="tel" class="form-control" id="floatingInput" value="{{this.HomeNumber}}" placeholder="Home Number" name="HomeNumber">
        <label for="floatingInput">Home Number</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.MobileNumber}}" placeholder="Mobile Number" name="MobileNumber">
        <label for="floatingInput">Mobile Number</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.NoteTitle}}" placeholder="Note Title" name="NoteTitle">
        <label for="floatingInput">Note Title</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Note Date" name="NoteDate">
        <label for="floatingInput">Note Date</label>
    </div>
</div>
<div class="col-12">
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" placeholder="Note Description" name="NoteDescription" style="height: 200px;">{{this.NoteDescription}}</textarea>
            <label for="floatingInput">Note Description</label>
        
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>

